.wrapper{
    display: flex;
    align-items: center;
    padding: 6px 16px;
    cursor: pointer;
    &:hover{
        background: rgba(22, 24, 35, 0.03);

    }
}

.avatar{
    width: 40px;
    height: 40px;
    margin-right: 12px;
    border-radius: 50%;
    object-fit: cover;
}
.info{
    flex: 1;
    
}
.name{
    font-size: 1.6rem;
    line-height: 22px;
    font-weight: 550;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.checkIcon{
    margin-left: 6px;
    color:#20d5ec;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 20px;
}
.userName{
    font-size: 1.4rem;
    line-height: 20px;
    color: rgba(22, 24, 35, 0.5);
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}